<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Orderexport2>
            <version>2.0.2</version>
        </Magazento_Orderexport2>
    </modules>
    
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/orderexport2/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <orderexport2>
                <class>Magazento_Orderexport2_Model</class>
                <resourceModel>orderexport2_mysql4</resourceModel>
            </orderexport2>
            <orderexport2_mysql4>
                <class>Magazento_Orderexport2_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>magazento_orderexport2_item</table>
                    </item>
                    <item_related>
                        <table>magazento_orderexport2_item_related</table>
                    </item_related>
                    <item_store>
                        <table>magazento_orderexport2_item_store</table>
                    </item_store>
                </entities>
            </orderexport2_mysql4>
        </models>
        <resources>
            <orderexport2_setup>
                <setup>
                    <module>Magazento_Orderexport2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderexport2_setup>
            <orderexport2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderexport2_write>
            <orderexport2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderexport2_read>
        </resources>
        <blocks>
            <orderexport2>
                <class>Magazento_Orderexport2_Block</class>
            </orderexport2>
        </blocks>
        <helpers>
            <orderexport2>
                <class>Magazento_Orderexport2_Helper</class>
            </orderexport2>
        </helpers>
    </global>
    <admin>
        <routers>
            <orderexport2>
                <use>admin</use>
                <args>
                    <module>Magazento_Orderexport2</module>
                    <frontName>orderexport2</frontName>
                </args>
            </orderexport2>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <orderexport2>
                    <file>magazento_orderexport2.xml</file>
                </orderexport2>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <orderexport2 translate="title">
                            <title>orderexport2</title>
                            <children>
                                <item translate="title">
                                    <title>Export</title>
                                </item>
                                <item translate="title">
                                    <title>Import</title>
                                </item>
                            </children>
                            <sort_order>65</sort_order>
                        </orderexport2>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderexport2>
                                            <title>orderexport2</title>
                                            <sort_order>101</sort_order>
                                        </orderexport2>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <system translate="title" module="orderexport2">
                <title>System</title>
                <children>
                    <orderexport2 translate="title" module="orderexport2">
                        <title>Orders Import/Export</title>
                        <sort_order>0</sort_order>
                        <children>
                            <item translate="title" module="orderexport2">
                                <title>Export</title>
                                <action>orderexport2/admin_item/</action>
                                <resource>orderexport2/admin/item</resource>
                            </item>
                            <import translate="title" module="orderexport2">
                                <title>Import</title>
                                <action>orderexport2/admin_import/</action>
                                <resource>orderexport2/admin/import</resource>
                            </import>
                        </children>                        
                    </orderexport2>
                </children>
            </system>
        </menu>
    </adminhtml>
    <default>
        <orderexport2>
            <options>
                <css>styles.css</css>
                <enable_stream>1</enable_stream>
                <enable_save>1</enable_save>
                <enable_preview>1</enable_preview>
            </options>
        </orderexport2>
    </default>
</config>